:root {
  --primary-color: #14b8a6;
  --dark-grey: #242424;
  --light-grey: #e5e7eb;
  --secondary-color: #fff;
}
.post-title-new {
  height: 100%;
  width: 100%;
}
.post-title-header {
  height: 30%;
  width: 100%;
  background: var(--light-grey);
  border: bottom left radius 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.header-title {
  margin-left: 2rem;
  padding-top: 2rem;
  font-size: 2.8rem;
  color: var(--primary-color);
}
.posted-by {
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 1rem;
  color: var(--dark-grey);
}
.posted-by-name {
  font-size: 1.2rem;
}
.posted-by-name:hover {
  color: var(--primary-color);
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}
.post-event-date {
  margin-top: 0.5rem;
}
.post-short-description {
  background: var(--light-grey);
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.1rem;
  color: var(--dark-grey);
}
.post-title-description {
  height: 25rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.up-down-vote {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.up-down-vote {
  text-align: center;
}

.comment-heading {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5rem;
}

.title-post-textarea {
  margin-bottom: 1rem;
  text-align: center;
}
.post-title-textarea {
  height: 6rem;
}
#vote-result {
  margin-right: 0.6rem;
  padding: 1.6rem;
  font-size:1.6rem;
  color: var(--dark-grey);
}
.postTitleLink{
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 4px;
}
.postTitleLink:hover{
  color: var(--dark-grey);
}
.comment-section{
  margin:auto;
  width: 80%;
  height: 60%;
  box-shadow: 4px 3px 9px -1px var(--dark-grey);
  padding:2rem;
  margin-bottom: 1.5rem;
}
.comment-section:hover{
  outline: 1px solid var(--primary-color);
  box-shadow: 4px 3px 9px -1px var(--primary-color)
}
.commentBtn{
 margin-bottom: 1rem;
 text-align: center;
 padding-left: 1.6rem;
 padding-right: 1.6rem;
}
.input-heading{
  padding-bottom: 0.6rem;
  
}
#comment-comment{
border-radius: 0.4rem;

border: none;
width: 55vw;
height: 5vh;
padding: 0.2rem 1rem;
box-shadow: 4px 3px 9px -1px var(--dark-grey);
transition: all 0.1s ease-in-out;
}
#comment-comment:hover{
  box-shadow: 4px 3px 9px -1px var(--primary-color);
  outline: 1px solid var(--primary-color);
}
#comment-comment:focus{
  outline: none;
  border: none;
}
