:root {
    --primary: #14b8a6;
    --secondary: #fff;
    --dark-grey: #242424;
    --light-grey: #9ca3af;
    --medium-grey: #6b7280;
}

.video_play {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
    transition: transform 200ms ease-in;
    border-radius: 20px;
}

.video_play:hover {
    transform : scale(1.02);
    box-shadow: 0 2px 20px var(--medium-grey);
}

.video_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
    gap: 4rem;
    padding: 2rem;
}

.video__heading {
    padding-top: 5rem;
    text-align: center;
    color: var(--dark-grey);
}