* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  :root {
    --primary: #14b8a6;
    --secondary: #fff;
    --dark-grey: #242424;
    --light-grey: #9ca3af;
    --medium-grey: #6b7280;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
  }
  
  .services_heading {
    text-align: center;
    padding: 2rem;
  }

  .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  .box-container .box{
    flex: 1 1 20rem;
    border-radius: .5rem;
    padding:1rem;
    text-align: center;
  }
  .box-container .box i{
    padding:1rem;
    font-size: 2rem;
    color:var(--primary);
  }
  .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
  }
  .box-container .box p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0;
  }
  .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }
  
  .products {

  }