* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  :root {
    --primary: #14b8a6;
    --secondary: #fff;
    --dark-grey: #242424;
    --light-grey: #9ca3af;
    --medium-grey: #6b7280;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
  }
  
  .services_heading {
    text-align: center;
    padding: 2rem;
  }

  .services-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 20px var(--light-grey);
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
  }
  .services-container .services{
    overflow: hidden;
    padding:1rem;
    text-align: center;
  }
  .services-container .services img{
    padding:1rem;
    height: 10rem;
    width: 10rem;
  }
  .services-container .services h3{
    font-size: 2rem;
    color: var(--dark-grey);
  }
  .services-container .services:hover{
    transform : scale(1.02);
    background-color: var(--secondary);
    box-shadow: 0 2px 20px var(--medium-grey);
  }

  .services_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    gap: 3rem;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
  
  .products {

  }